<!DOCTYPE html>
<html>
  <head>
    <title>About | mini Tweet App</title>
  </head>
  <body>
    <h1>このサイトについて</h1>
    <p>
      Twitterの様に、メッセージをつぶやいたり、画像を投稿したりできます！<br>
      以下の機能があるので、ぜひ使ってみてください！<br>
    </p>
    <br>
    <p>
      <b>1.ユーザ登録</b><br>
      ユーザ名とパスワード、メールアドレスを入力することでユーザ登録できます。<br>
    </p>
    <br>
    <p>
      <b>2.ログイン･ログアウト機構</b><br>
      登録したメールアドレスとパスワードを使って、ログインができます。同様に、ログアウトもできます。<br>
    </p>
    <br>
    <p>
      <b>3.パスワードの再設定</b><br>
      パスワードを忘れてしまった時の為に、パスワードを再設定することができます。<br>
    </p>
    <br>
    <p>
      <b>4.ユーザ情報の更新･削除</b><br>
      登録しているユーザ名とメールアドレスを変更･削除する事ができます。<br>
    </p>
    <br>
    <p>
      <b>5.文書･画像の投稿と削除</b><br>
      140文字以内の文章と、ファイルサイズが5MB以内の画像を投稿できます。また自分の投稿であれば削除できます。<br>
    </p>
    <br>
    <p>
      <b>6.投稿内容･ユーザ名の検索</b><br>
      各ユーザのプロフィールページにて、そのユーザが投稿した内容を検索できます。<br>
      また、ユーザ一覧ページにおいて、ユーザ名を検索することができます。<br>
    </p>
    <br>
    <p>
      <b>7.ユーザをフォローする、フォローから外す</b><br>
      Twitterの様に、他ユーザをフォローできます。またフォローから外すこともできます。<br>
    </p>
    <br>
  </body>
</html>