<!DOCTYPE html>
<html>
  <head>
    <title>About | mini Tweet App</title>
  </head>
  <body>
    <h1>このサイトについて</h1>
    <p>
      このサイトは、
      <a href="https://railstutorial.jp/">Rails チュートリアル</a>
      を参考に作られています。
    </p>
  </body>
</html>