<!DOCTYPE html>
<html>
  <head>
    <title>About | mini Tweet App</title>
  </head>
  <body>
    <h1>このサイトについて</h1>
    <p>
      Twitterの様に、メッセージをつぶやいたり、画像を投稿したりできます！<br>
      具体的には、以下の機能を実装しています。
    </p>
    <br>
    <p>
      <b>1.ユーザ登録</b><br>
      ユーザ登録する為には、ユーザ名とパスワード、メールアドレスを入力する必要があります。<br>
      上記項目を入力後、「アカウントを作成する」ボタンをクリックしてください。<br>
      アカウント有効化用のメールが送られるので、メールにあるリンクをクリックしてください。<br>
      リンクをクリックした後、自分のプロフィールページが表示されていれば登録完了です。
    </p>
    <br>
    <p>
      <b>2.ログイン･ログアウト機構</b><br>
      ログインページにて、登録したメールアドレスとパスワードを、フォームに入力する事でログインできます。<br>
      ブラウザを閉じた後でも、ログイン状態を有効にする [remember me] 機能も実装しています。<br>
      [remember me] 機能を使うためには、「コンピュータに記憶させる」にチェックを入れてください。<br>
      また、ログアウトするには、ページ右上のアカウント管理プルダウンメニューから、「ログアウト」ボタンをクリックしてください。<br>
    </p>
    <br>
    <p>
      <b>3.パスワードの再設定</b><br>
      パスワードを忘れてしまった時の為に、パスワードを再設定することができます。<br>
      ログインページにて、(パスワードを忘れた場合)　をクリックしてください。<br>
      メールアドレスを入力し、「パスワードを再設定する」ボタンを押すことで、パスワード再設定用のメールが送られます。<br>
      メールの中にある、「パスワードを再設定する」をクリックすることで、パスワードが再設定されます。<br>
    </p>
    <br>
    <p>
      <b>4.ユーザ情報の更新･削除</b><br>
      登録しているユーザ名とメールアドレスを変更する事ができます。<br>
      変更する為には、まず、アカウント管理プルダウンメニューから「設定」ボタンをクリックして下さい。<br>
      フォームに、ユーザ名とメールアドレス、パスワードを入力し「変更を保存する」ボタンをクリックする事で、ユーザ情報が更新されます。<br>
    </p>
    <br>
    <p>
      <b>5.文書･画像の投稿と削除</b><br>
      140文字以内の文章と、ファイルサイズが5MB以内の画像を投稿できます。<br>
      文章を投稿する為には、ホーム画面左側にあるフォームに文章を入力し、「投稿する」ボタンをクリックしてください。<br>
      画像を投稿する為には、「ファイルを選択」ボタンをクリックし、画像を選択した上で、「投稿する」ボタンをクリックしてください。<br>
      自分と他のユーザが投稿した内容は、ホーム画面のタイムライン上で表示されます。何時間前に投稿されたかという情報も、投稿内容に併記されています。<br>
      また、自分の投稿であれば削除することもできます。削除するには、投稿内容横にある「削除」リンクをクリックして下さい。<br>
    </p>
    <br>
    <p>
      <b>6.投稿内容･ユーザ名の検索</b><br>
      各ユーザのプロフィールページにて、そのユーザが投稿した内容を検索できます。<br>
      また、ユーザ一覧ページにおいて、ユーザ名を検索することができます。<br>
      各々、フォームに検索したい内容を入力し、「検索」ボタンをクリックすることで、該当する項目が表示されます。<br>
    </p>
    <br>
    <p>
      <b>7.ユーザをフォローする、フォローから外す</b><br>
      他ユーザのプロフィールページにて、「フォローする」ボタンをクリックすることで、そのユーザをフォローできます。<br>
      また、フォロー済ユーザのプロフィールページから、「フォローを外す」ボタンをクリックすれば、フォローから外すこともできます。<br>
      各ユーザのフォローしているユーザ数･フォロワー数は、プロフィールページに表示されます。<br>
    </p>
    <br>
  </body>
</html>