<!DOCTYPE html>
<html>
  <head>
    <title>About | mini Tweet App</title>
  </head>
  <body>
    <h1>このサイトについて</h1>
    <p>
      このサイトは、Twitterの様にメッセージをつぶやいたり、画像を投稿したりできます！
      ほかに、ログイン機構、ユーザ検索機能、投稿内容検索機能を実装しています。
    </p>
  </body>
</html>