<!DOCTYPE html>
<html>
  <head>
    <title>Help | mini Tweet App</title>
  </head>
  <body>
    <h1>ヘルプ</h1>
    <p>困ったことがあったら、次のページを参照して下さい。
      <a href="https://railstutorial.jp/help">Rails Tutorial help
      page</a>.
      このアプリのヘルプを表示するには次のページを参照して下さい。
      <a href="https://railstutorial.jp/#ebook">
      <em>Ruby on Rails Tutorial</em> book</a>.
    </p>
  </body>
</html>