<h1>mini Tweet App</h1>

<p>こんにちは！ <%= @user.name %>,</p>

<p>
次のリンクをクリックしてください
</p>

<%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>