<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete, data: { confirm: "本当によろしいですか？" },class: "btn btn-lg btn-primary" %>
        <div id="menu">
          <ul class="accordion">
              <li>
                  <p class="btn btn-lg btn-primary">編集</p>
                  <ul class="list">
                      <li><a href="#">テスト1-1</a></li>
                  </ul>
              </li>
          </ul>
        </div>
  <% end %>
</li>