<% provide(:title, 'Attendance Users') %>
<h1>出勤中社員一覧</h1>

<table>
  <thead>
    <tr>
      <th>社員番号</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @working_users.each do |uid, name| %>
      <tr>
        <td>
          <%= uid %>
        </td>
        <td>
          <%= name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>